<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Re-direct to apps" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="http://apps.nationalarchives.gov.uk/nelson/" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
